<phpunit bootstrap="test/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit-Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>
    </filter>

    <logging>
        <log
                type="coverage-html"
                target="test/coverage"
                charset="UTF-8"
                yui="true"
                lowUpperBound="35"
                highLowerBound="70"
                showUncoveredFiles="true"
                />
    </logging>
</phpunit>
